# Copy to mbsyncrc, replace the address, and store the app password with:
# secret-tool store --label='mbsync Gmail' service mbsync account gmail

IMAPAccount gmail
Host imap.gmail.com
User you@example.com
PassCmd "secret-tool lookup service mbsync account gmail"
AuthMechs LOGIN
TLSType IMAPS
CertificateFile /etc/ssl/certs/ca-certificates.crt

IMAPStore gmail-remote
Account gmail

MaildirStore gmail-local
SubFolders Verbatim
Path ~/.local/share/mail/gmail/
Inbox ~/.local/share/mail/gmail/Inbox

Channel gmail
Far :gmail-remote:
Near :gmail-local:
Patterns INBOX
Create Both
Expunge Both
SyncState *
